.popsr-inform {
    padding:0; text-align:center;
}
.popsr-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    background-color:#000;
}

.popsr {
    background:transparent;
    position: fixed;
    padding: 0;
    z-index:9999;
    margin: 0;
    font-size: 16px;
    text-shadow: none;
    /*max-width:90%;*/
}

.popsr-box {
    position: relative;
    height: auto;
    background-color: transparent/*rgba(204, 204, 204, 0.5)*/;
    *box-shadow: 0 0 10px #333;
}

.popsr-wrapper {
    position: relative;
    background-color: #fff;
}

.popsr-title {
    padding:0;
    background-position: left top;
    background-repeat: no-repeat;
}

.popsr-titlebox {
    padding: 10px;
    overflow: hidden;
    font-family:'Poppins-Bold';
    color: #4E5665;
    font-weight:400;
    text-shadow: 0 0 10px #ccc;
}

.popsr-titlebox.info {
    background-color: #eee;
    background-image: none;
}

.popsr-titlebox.error {
    background-color: #eee;
    background-image: none;
}

.popsr-titlebox.warning {
    background-color: #eee;
    background-image: none;
}

.popsr-titlebox.success {
    background-color: #eee;
    background-image: none;
}

.popsr-closebtn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    width: 25px;
    height: 25px;
    color: #333;
    cursor: pointer;
    background-color: #fff;
    *border: 1px solid rgba(255, 255, 255, .1);
    *border-radius: 40px;
    *box-shadow: 0px 0px 5px #333;
}

.popsr-closebtn::before {
    position: relative;
    top: 2px;
    display: block;
    width: 25px;
    text-align: center;
    *text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    content: '\00D7';
}

.popsr-content {
    font: .9em normal helvetica, arial;
    display:inline-block;
    max-height:650px;
    width:100%; /*calc(100% - 50px);*/
    overflow: auto;
    margin:0;
    margin-top: 0;
    margin-bottom: 0;
}
.popsr-content > * {
    padding:10px;
}
.popsr-content p {
    margin: 0 0 1.3em;
    line-height: 1.3em;
}

.popsr-content .popsr-closebtn {
    top: 7px;
    font: 1.3em bold helvetica, arial;
    color: #fff;
    background-color: #333;
    opacity: 0;
    -webkit-transition: opacity .25s linear, visibility .1s linear .5s;
    -moz-transition: opacity .25s linear, visibility .1s linear .5s;
    -o-transition: opacity .25s linear, visibility .1s linear .5s;
    transition: opacity .25s linear, visibility .1s linear .5s;
}

.popsr-content:hover .popsr-closebtn {
    opacity: 1;
}

.popsr-footbox {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding:10px 0;
}

.popsr-actions {
    text-align:center;
    padding-top: 8px;
    margin: 0 auto;
    border-top: 1px solid #eee;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
}

.popsr-actions .btnbox {
    text-align: center;
    margin:5px 10px;
    display: inline-block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;



}

.popsr-actions .btnbox .btn {
    min-width: 75px;
}

.popsr-titlebox.anim {
    /*background:url('../images/gradients/05.png') repeat-x top;
    background: rgba(255, 255, 255, 0.1) url('../images/gradients/05.png') no-repeat 0 50%;
    background-size:100% 100%;*/
    border-bottom: solid 1px #000000;
    color:#333;
}
.popsr-titlebox.anim A { color:#aaa; text-decoration:none; }
.popsr-titlebox.anim.info {
    background-color: #4ea5cd;
    color:#aaa;
}

.popsr-titlebox.anim.error {
    background-color: #eee;
}

.popsr-titlebox.anim.warning {
    background-color: #eaaf51;
}

.popsr-titlebox.anim.success {
    background-color: #61b832;
}

@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

.popsr .btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 26px;
    color: #333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #222;
    background: #333 none repeat scroll 0 0;
}

.popsr .btn:hover,
.popsr .btn:active,
.popsr .btn.active,
.popsr .btn.disabled,
.popsr .btn[disabled] {
    background-color: black;
}

.popsr .btn:active,
.popsr .btn.active {
    background-color: black;
}

.popsr .btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #2b2b2b;
}

.popsr .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.popsr .btn.active,
.popsr .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.popsr .btn-primary,
.popsr .btn-primary:hover,
.popsr .btn-warning,
.popsr .btn-warning:hover,
.popsr .btn-danger,
.popsr .btn-danger:hover,
.popsr .btn-success,
.popsr .btn-success:hover,
.popsr .btn-info,
.popsr .btn-info:hover,
.popsr .btn-inverse,
.popsr .btn-inverse:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.popsr .btn-primary.active,
.popsr .btn-warning.active,
.popsr .btn-danger.active,
.popsr .btn-success.active,
.popsr .btn-info.active,
.popsr .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}

.popsr .btn {
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.popsr .btn-primary {
    background-color: #0074cc;

    background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
    background-image: -o-linear-gradient(top, #0088cc, #0055cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
    background-image: linear-gradient(top, #0088cc, #0055cc);
    background-repeat: repeat-x;
    border-color: #0055cc #0055cc #003580;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-primary:hover,
.popsr .btn-primary:active,
.popsr .btn-primary.active,
.popsr .btn-primary.disabled,
.popsr .btn-primary[disabled] {
    background-color: #0055cc;
}

.popsr .btn-primary:active,
.popsr .btn-primary.active {
    background-color: #004099 \9;
}

.popsr .btn-warning {
    background-color: #faa732;
    background-image: -ms-linear-gradient(top, #fbb450, #f89406);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
    background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
    background-image: -o-linear-gradient(top, #fbb450, #f89406);
    background-image: -moz-linear-gradient(top, #fbb450, #f89406);
    background-image: linear-gradient(top, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-warning:hover,
.popsr .btn-warning:active,
.popsr .btn-warning.active,
.popsr .btn-warning.disabled,
.popsr .btn-warning[disabled] {
    background-color: #f89406;
}

.popsr .btn-warning:active,
.popsr .btn-warning.active {
    background-color: #c67605 \9;
}

.popsr .btn-danger {
    background-color: #da4f49;
    background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
    background-image: linear-gradient(top, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-danger:hover,
.popsr .btn-danger:active,
.popsr .btn-danger.active,
.popsr .btn-danger.disabled,
.popsr .btn-danger[disabled] {
    background-color: #bd362f;
}

.popsr .btn-danger:active,
.popsr .btn-danger.active {
    background-color: #942a25 \9;
}

.popsr .btn-success {
    background-color: #5bb75b;
    background-image: -ms-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(top, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-success:hover,
.popsr .btn-success:active,
.popsr .btn-success.active,
.popsr .btn-success.disabled,
.popsr .btn-success[disabled] {
    background-color: #51a351;
}

.popsr .btn-success:active,
.popsr .btn-success.active {
    background-color: #408140 \9;
}

.popsr .btn-info {
    background-color: #49afcd;
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-info:hover,
.popsr .btn-info:active,
.popsr .btn-info.active,
.popsr .btn-info.disabled,
.popsr .btn-info[disabled] {
    background-color: #2f96b4;
}

.popsr .btn-info:active,
.popsr .btn-info.active {
    background-color: #24748c \9;
}

.popsr .btn-inverse {
    background-color: #414141;
    background-image: -ms-linear-gradient(top, #555555, #222222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
    background-image: -webkit-linear-gradient(top, #555555, #222222);
    background-image: -o-linear-gradient(top, #555555, #222222);
    background-image: -moz-linear-gradient(top, #555555, #222222);
    background-image: linear-gradient(top, #555555, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.popsr .btn-inverse:hover,
.popsr .btn-inverse:active,
.popsr .btn-inverse.active,
.popsr .btn-inverse.disabled,
.popsr .btn-inverse[disabled] {
    background-color: #222222;
}

.popsr .btn-inverse:active,
.popsr .btn-inverse.active {
    background-color: #080808 \9;
}

.popsr button {
    cursor: pointer;
    -webkit-appearance: button;
}

button.popsr .btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.popsr-alert {
    text-align: center;
    font-weight: 500;
    padding:25px;
}
.tbg { background:transparent; box-shadow: none; border:0; }